<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/write.css" />
    <title>글쓰기</title>
  </head>
  <body>
    <header id="header">
      <div class="desktopHeader">
        <div class="logo">
          <a href="/">SaveWorld</a>
        </div>
        <nav>
          <li><a href="#">소개</a></li>
          <li><a href="#">재활용 정보</a></li>
          <li><a href="#">우리들의 사용량</a></li>
          <li><a class="loginText" href="/login">로그인</a></li>
        </nav>
      </div>
    </header>

    <div class="line_wrap">글쓰기</div>

    <div class="write_wrap">
      <form action="" method="post">
        <div class="write">
          <label for="title">제목</label>
          <input id="title" type="text" />
        </div>
        <div class="write">
          <label for="userId">아이디</label>
          <input id="userId" type="text" />
        </div>
        <div class="write">
          <label for="email">이메일</label>
          <input id="email" type="text" />
        </div>
        <div class="write">
          <label for="area">지역</label>
          <input id="area" type="text" />
        </div>

        <div class="write">
          <label for="">연락처</label>
          <input id="phone" type="number" placeholder="숫자만 입력해주세요" />
        </div>
        <div class="write">
          <label for="">내용</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="button_wrap">
          <button id="enroll" type="button" onclick="enroll()">등록하기</button>
          <button id="cancel" type="button" onclick="">취소하기</button>
        </div>
      </form>
    </div>
    <!-- write_wrap -->

    <footer id="footer">
      <div class="footerText">문의 : sammy342@naver.com</div>
    </footer>

    <script src="/js/usage.js"></script>
  </body>
</html>
